body {
  font-family: 'Raleway', sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 100; }

p, dl {
  font-size: 1.6em;
  color: #7f8c8d;
  margin-bottom: 1em; }

p.intro {
  font-size: 2em;
  font-weight: 300; }

h3 {
  font-size: 2.5em; }

h4 {
  font-size: 1.6em; }

a.btn-outline {
  display: block;
  border: 1px solid #7f8c8d;
  text-align: center;
  padding: 0.5em 0;
  border-radius: 4px;
  background-color: transparent;
  transition: background-color 0.3s ease-in; }
  a.btn-outline, a.btn-outline:hover, a.btn-outline:visited, a.btn-outline:active, a.btn-outline:focus {
    color: #7f8c8d;
    text-decoration: none; }
  a.btn-outline:hover {
    background-color: #f8f9f9; }

.main-slide {
  height: 100vh; }

#nsg-carousel {
  border: none; }
  #nsg-carousel .carousel-slide {
    padding-top: 7vw; }
    #nsg-carousel .carousel-slide h2 {
      font-size: 5vw; }

header {
  background-color: #2c3e50;
  color: #ecf0f1;
  height: 7vw;
  width: 100vw;
  position: fixed;
  z-index: 99; }
  header nav {
    text-align: center; }
    header nav img#logo {
      width: 10vw;
      border-radius: 50%;
      border: 0.6vw solid #2c3e50; }
    header nav a.navlink {
      display: inline-block;
      width: 10vw;
      color: #ecf0f1;
      font-size: 2vw;
      font-weight: 100;
      line-height: 5vw;
      border-top: 0.2vw solid rgba(0, 0, 0, 0.1);
      margin: 0 1vw;
      transition: border-color 0.3s ease-in; }
      header nav a.navlink:hover {
        color: #ecf0f1;
        border-color: #d35400; }
      header nav a.navlink, header nav a.navlink:hover, header nav a.navlink:active, header nav a.navlink:focus, header nav a.navlink:visited {
        text-decoration: none; }
      header nav a.navlink.selected {
        border-color: #d35400; }

#land {
  height: 100vh;
  background: url("../images/land-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat; }
  #land .land-content {
    padding: 3vw 2vw;
    background-color: rgba(0, 0, 0, 0.3);
    margin-top: 50vh;
    transform: translateY(-10vw); }
    #land .land-content h1 {
      color: #ecf0f1;
      font-size: 5vw;
      line-height: 7vw;
      padding: 0;
      margin: 0; }
    #land .land-content img {
      height: 7vw;
      margin-right: 2vw; }
      #land .land-content img:last-child {
        margin-right: 0; }

#about .image-container img {
  width: 100%; }

#skills .skill {
  text-align: center; }
  #skills .skill canvas {
    width: 80%; }

#work .nav-tabs {
  border-color: #16a085;
  margin: 3em 0 2em; }
#work .nav-tabs > li > a {
  color: #34495e;
  font-size: 2em;
  font-weight: 300;
  padding: 0.5em 1.5em; }
#work .nav-tabs > li > a:hover {
  background-color: transparent;
  color: #16a085;
  border-color: transparent transparent #16a085; }
#work .nav-tabs > li.active > a, #work .nav-tabs > li.active > a:focus, #work .nav-tabs > li.active > a:hover {
  color: #16a085;
  border-color: #16a085 #16a085 white; }
#work #work-process a.demo {
  font-size: 3em;
  width: 7em;
  margin: 1em auto 2em; }
#work #work-projects #portfolio .project {
  padding: 0;
  position: relative;
  z-index: 4;
  text-align: center;
  cursor: pointer; }
  #work #work-projects #portfolio .project img {
    width: 100%;
    z-index: 5; }
  #work #work-projects #portfolio .project .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 6;
    background-color: rgba(0, 0, 0, 0.8); }
  #work #work-projects #portfolio .project p {
    color: #ecf0f1;
    z-index: 7;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    font-size: 4em;
    padding: 0.5em 0 0;
    transform: translateY(-50%); }
    #work #work-projects #portfolio .project p i {
      font-size: 0.8em;
      margin-top: 0.5em; }
  #work #work-projects #portfolio .project .overlay, #work #work-projects #portfolio .project p {
    opacity: 0;
    transition: opacity 0.3s ease-in; }
  #work #work-projects #portfolio .project:hover .overlay, #work #work-projects #portfolio .project:hover p {
    opacity: 1; }

#project-details-modal .modal-dialog {
  width: 90%;
  max-width: 1700px; }
  #project-details-modal .modal-dialog .modal-header {
    background-color: #2c3e50;
    color: #ecf0f1; }
    #project-details-modal .modal-dialog .modal-header h4 {
      text-align: center; }
    #project-details-modal .modal-dialog .modal-header button span {
      color: #ecf0f1;
      font-size: 2em;
      line-height: 0.5em; }
  #project-details-modal .modal-dialog .carousel-inner {
    margin: 0 15%;
    width: 70%; }
    #project-details-modal .modal-dialog .carousel-inner img.project-img {
      width: 100%; }
    #project-details-modal .modal-dialog .carousel-inner a.demo, #project-details-modal .modal-dialog .carousel-inner a.source {
      width: 11em;
      margin: 0 auto 1em;
      font-size: 1.2em; }
  #project-details-modal .modal-dialog .carousel-control.left, #project-details-modal .modal-dialog .carousel-control.right {
    background-image: none; }
    #project-details-modal .modal-dialog .carousel-control.left span.glyphicon, #project-details-modal .modal-dialog .carousel-control.right span.glyphicon {
      color: #7f8c8d; }

/*# sourceMappingURL=app.css.map */
