#work {
  .nav-tabs {
    border-color: #16a085;
    margin: 3em 0 2em;
  }

  .nav-tabs>li>a {
    color: #34495e;
    font-size: 2em;
    font-weight: 300;
    padding: 0.5em 1.5em;
  }

  .nav-tabs>li>a:hover {
    background-color: transparent;
    color: #16a085;
    border-color: transparent transparent #16a085;
  }

  .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #16a085;
    border-color: #16a085 #16a085 white;
  }

  #work-process {
    a.demo {
      font-size: 3em;
      width: 7em;
      margin: 1em auto 2em;
    }
  }

  #work-projects {
    #portfolio {
      .project {
        padding: 0;
        position: relative;
        z-index: 4;
        text-align: center;
        cursor: pointer;

        img {
          width: 100%;
          z-index: 5;
        }

        .overlay {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: 6;
          background-color: rgba(0, 0, 0, 0.8);
        }

        p {
          color: $light-color;
          z-index: 7;
          position: absolute;
          top: 50%;
          left: 0;
          right: 0;
          font-size: 4em;
          padding: 0.5em 0 0;
          transform: translateY(-50%);

          i {
            font-size: 0.8em;
            margin-top: 0.5em;
          }
        }

        .overlay, p {
          opacity: 0;
          transition: opacity 0.3s ease-in;
        }

        &:hover {
          .overlay, p {
            opacity: 1;
          }
        }
      }
    }
  }
}

#project-details-modal {
  .modal-dialog {
    width: 90%;
    max-width: 1700px;

    .modal-header {
      background-color: $dark-color;
      color: $light-color;

      h4 {
        text-align: center;
      }

      button span {
        color: $light-color;
        font-size: 2em;
        line-height: 0.5em;
      }
    }

    .carousel-inner {
      margin: 0 15%;
      width: 70%;

      img.project-img {
        width: 100%;
      }

      a.demo, a.source {
        width: 11em;
        margin: 0 auto 1em;
        font-size: 1.2em;
      }
    }

    .carousel-control.left, .carousel-control.right {
      background-image: none;

      span.glyphicon {
        color: $dark-font-color;
      }
    }
  }
}
